@import "../../variables/variables.scss";
.hero{
    background-color:$red;
}
.hero__container{
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
.hero__info{
    width: 100%;
    max-width: 560px;
    margin-right: 100px;
}
.hero__suptitle{
font-weight: 700;
font-size: 23px;
line-height:30px;
letter-spacing: 0.04em;
text-transform: capitalize;
color: #fff;
}
.hero__title{
font-weight: 700;
font-size: 90px;
line-height: 117px;
letter-spacing: 0.04em;
text-transform: capitalize;
color: #fff;
margin: 25px 0;
}
.hero__text{
    font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.04em;
color: #fff;
margin-bottom: 40px;
}
#hero__btn{
    font-family: 'Cera Round Pro';
font-weight: 700;
font-size: 16px;
line-height:28px;
letter-spacing: 0.04em;
    transition: background-color .4s;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}
#hero__btn:hover{
    border-color: #fff;
    background-color: #fff;
    color: #242424;
}
.hero__img{
    width: 100%;
    max-width: 824px;
}
.hero__scroll{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    font-family: Cera Round Pro;
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.04em;
color: #fff;
}
.hero__scroll::before{
    position: absolute;
    display: inline-block;
    content: "";
    width: 1px;
    height: 64px;
    background-color: #fff;
    top:-76px;
    right: 0;
    transform: translateX(-25px);
}
.popular{
    position: relative;
    background-color: #F8F8F8;
    padding: 120px 0;
}
.slide{
    width: 50px;
    height: 50px;
}
.popular__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular__slider{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.popular__prev,
.popular__next{
    width: 40px;
    height: 40px;
    border-radius:6px;
    background-color: transparent;
    outline: none;
    border: 1px solid #242424;
    cursor: pointer;
}
.popular__prev{
    margin-right: 30px;
}
.popular__next{
    transform: rotate(180deg);
}
.popular__prev:hover,
.popular__next:hover{
    border: 1px solid $red;
}
.popular__emblem{
    position: absolute;
    bottom:-50px;
    right: 0;
    z-index: 2;
}
.regular{
    padding: 120px 0;
    background-color: #fff;
}
.regular__list{
    width: 100%;
    margin-top: 60px;
}
#regular__link{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.05em;
    min-width:200px;
    border-color: $red;
    transition: all .4s;
    cursor: pointer;
}
#regular__link:hover{
    background-color: $red;
    color: #fff;
}
.regular__foods{
    display: grid;
    grid-template-columns: repeat(4,315px);
    gap: 20px;
    margin-top: 50px;
}
.regular__food{
    list-style-type: none;
    border: 1px solid rgba(36, 36, 36, 0.1);
    border-radius: 14px;
}